main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(green,rgb(10, 168, 10), green);
    min-width: 300px;
    max-width: 950px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}
.main_titulo1{
    color: green;
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main_paragrafo{
    color: white;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.4em;
}
.main_imagem1{
    display: block;
    border: 2px solid white;
    width: 100%;
    border-radius: 10px;
}
.main_imagem2{
    display: block;
    border: 2px solid white;
    width: 100%;
    border-radius: 10px;
}
.main_div1{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main_div2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
}
.main_div2 > div{
    flex: 1 1 100px;
}
.main_div3{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main_div4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding-bottom: 20px;
}
.main_div4 > div{
flex: 1 1 200px;
}