@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Cabeçalho do Site */
header
{
    background-color: white;
}
.conteinerCapa{
    height: 300px;
    max-width: 950px;
    margin: auto;
}
.cabecalho_imagem{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.cabecalho_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(23, 192, 23), green);
    height: 80px;
}
.cabecalho_menu i{
    display: none;
}
.cabecalho_botao_menu
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    margin: 4px 2px;
    padding: 16px 32px;
    text-align: center;
    transition-duration: 0.5s;
    cursor: pointer;
    border: none;
    color: white;
    background-color: transparent;
    background-image: linear-gradient(white,white);
    background-repeat: no-repeat;
    background-size: 0% 5px;
    background-position: center bottom;
}
.cabecalho_botao_menu:hover
{
    background-size: 100% 5px;
    border-radius: 15px;
}

/* Rodapé do Site */
footer{
    background-image: linear-gradient(rgb(23, 192, 8), green);
    margin-top: 40px;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer a{
    display: block;
    text-decoration: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
footer a img{
    display: block;
    margin: auto;
    transition: 0.4s;
    border: 5px solid transparent;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
}
footer a img:hover
{
    transition: 0.4s;
    border: 5px solid white;
    border-radius: 50%;
}
footer .rodape_imagem2
{
    display: block;
    margin: auto;
    min-width: 100px;
    max-width: 220px;
}
footer .conteinerSilueta{
    margin-top: 20px;
    height: 300px;
    max-width: 100%;
}
footer .rodape_imagem3
{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* Página Responsiva */
@media (max-width: 880px){
    .cabecalho_menu{
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .cabecalho_menu a{
        display: none;
    }
    .cabecalho_menu i{
        display: block;
        font-size: 4em;
        color: white;
        cursor: pointer;
    }
}