*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Cabeçalho do Site */
.cabecalho
{
    background-color: white;
}
.cabecalho_imagem
{
    height: 350px;
    width: 950px;
    display: block;
    margin: auto;
}
.cabecalho_menu
{
    text-align: center;
    background-image: linear-gradient(rgb(23, 192, 23), green);
    height: 80px;
}
.cabecalho_botao_menu
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin: 4px 2px;
    padding: 16px 32px;
    text-align: center;
    transition-duration: 0.5s;
    cursor: pointer;
    border: none;
    color: white;
    background-image: linear-gradient(rgb(23, 192, 8), green);
}
.cabecalho_botao_menu:hover
{
    color: green;
    background-image: linear-gradient(white,white);
    border-radius: 5px;
}

/* Rodapé do Site */
footer{
    background-image: linear-gradient(rgb(23, 192, 8), green);
    margin-top: 40px;
}
footer .box{
    display: flex;
    justify-content: center;
    column-gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer a{
    text-decoration: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
footer .rodape_logo{
    display: block;
    margin: auto;
    transition: 1s;
    border: 5px solid transparent;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 50%;
}
footer .rodape_logo:hover
{
    transition: 1s;
    border: 5px solid white;
    border-radius: 50%;
}
footer .rodape_imagem2
{
    display: block;
    margin: auto;
    min-width: 100px;
    max-width: 220px;
}
footer .rodape_imagem3
{
    display: block;
    margin: auto;
    width: 100%;
}