*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho
{
    background-color: white;
}
.cabecalho_imagem
{
    height: 350px;
    width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cabecalho_menu
{
    text-align: center;
    background-image: linear-gradient(rgb(23, 192, 23), green);
    height: 80px;
}
.cabecalho_botao_menu
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin: 4px 2px;
    padding: 16px 32px;
    text-align: center;
    transition-duration: 0.5s;
    cursor: pointer;
    border: none;
    color: white;
    background-image: linear-gradient(rgb(23, 192, 8), green);
}
.cabecalho_botao_menu:hover
{
    color: green;
    background-image: linear-gradient(white,white);
    border-radius: 5px;
}
.rodape{
    text-align: center;
    background-image: linear-gradient(rgb(23, 192, 8), green);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rodape_div
{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rodape_logo
{
    transition: 0.5s;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
}
.rodape_logo:hover
{
    transition: 0.2s;
    border: 3px solid white;
    border-radius: 50%;
}
.rodape_imagem2
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.rodape_imagem3
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1310px;
}