*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Cabeçalho do Site */
header
{
    background-color: white;
}
.cabecalho_imagem{
    display: block;
    width: 100%;
    object-fit: fill;
}
.cabecalho_menu
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(23, 192, 23), green);
    height: 80px;
}
.cabecalho_menu i{
    display: none;
}
.cabecalho_botao_menu
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    margin: 4px 2px;
    padding: 16px 32px;
    text-align: center;
    transition-duration: 0.5s;
    cursor: pointer;
    border: none;
    color: white;
    background: transparent;
}
.cabecalho_botao_menu:hover
{
    color: green;
    background-image: linear-gradient(white,white);
    border-radius: 5px;
}

/* Rodapé do Site */
footer{
    background-image: linear-gradient(rgb(23, 192, 8), green);
    margin-top: 40px;
}
footer .box{
    display: flex;
    justify-content: center;
    column-gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer a{
    text-decoration: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
footer .rodape_logo{
    display: block;
    margin: auto;
    transition: 0.4s;
    border: 5px solid transparent;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 50%;
}
footer .rodape_logo:hover
{
    transition: 0.4s;
    border: 5px solid white;
    border-radius: 50%;
}
footer .rodape_imagem2
{
    display: block;
    margin: auto;
    min-width: 100px;
    max-width: 220px;
}
footer .rodape_imagem3
{
    display: block;
    margin: auto;
    width: 100%;
}
@media (max-width: 880px){
    .cabecalho_menu{
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .cabecalho_menu a{
        display: none;
    }
    .cabecalho_menu i{
        display: block;
        font-size: 4em;
        color: white;
        cursor: pointer;
    }
}